.jobs-list {
    margin-top: 7rem;
    margin-left: 7rem;
    margin-right: 7rem;
    height: 100vh;
}

.job-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}

.jobs-list button {
    background-color: var(--violet);
    border-radius: 5px;
    border-style: none;
    color: white;
    cursor: pointer;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
    margin-bottom: 2rem;
    padding: 1rem 2rem;


}

.jobs-list button:hover {
    filter: brightness(150%);
}

.button-container {
    display: flex;
    justify-content: center;
}


@media (max-width: 1000px) {
    .jobs-list {
        margin-top: 5rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .job-wrapper {

        grid-template-columns: 1fr 1fr;

    }



}



@media (max-width: 750px) {

    .job-wrapper {
        display: block;
    }

    .jobs-list {}






}