.modal {
    background-color: white;
    border-radius: 10px;
    /* left: 50%;
    top: 50%; */
    /* transform: translate(-50%, -50%); */
    padding: 2rem;
    /* position: fixed; */
    width: 80%;
    z-index: 1000;
}

.modal-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
}

.modal button {
    background-color: var(--violet);
    border-style: none;
    color: white;
    cursor: pointer;
    font-family: 'Kumbh Sans', sans-serif; 
    font-size: 16px;
    font-weight: bold;
    margin-top: 2rem;
    padding: 1rem;
    width: 100%;
}

.modal button:hover {
    filter: brightness(150%);
}

.modal label {
    cursor: pointer;
    display: flex;
    font-weight: bold;
    
}

.modal label::before {

    content: '';
    width: 1em;
    height: 1em;
    background-color: var(--gray);
    border-radius: .15em;
    margin-right: .5em;
}

.modal label:hover::before {
    background-color: var(--light-violet);
}

.modal hr {
    background-color: var(--dark-gray);
    border: none;
    height: 1px;
    margin-bottom: 2rem;
}

.modal-location {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.modal-location input {
    border-style: none;
    font-size: 16px;
    margin-left: 1rem;
    height: 2rem;
    width: 100%;
}

.modal .checkbox {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    
    }

    .modal .checkbox:checked + label::before{
        background-color: var(--violet);
        color: white;
        content: '\002714';
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal .checkbox-wrapper {
        display: flex;
        align-items: center;
    }

::placeholder {
    font-family: 'Kumbh Sans', sans-serif; 
}