



@media (max-width: 750px)  {
    .searchbar-wrapper {
        position: relative;
        
    }

    .searchbar {
        border-radius: 10px;
        border-style: none;
        font-family: 'Kumbh Sans', sans-serif;
        font-size: 16px; 
        padding: 2rem 1rem;
        position: absolute;
        top: -3rem;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        
        
    }

    .searchbar::placeholder {
        color:  var(--dark-gray);
    }

    .filter-icon {
        cursor: pointer;
        right: 34%;
        top: -0.5rem;
        position: absolute;
    }

    .search-button {
        background-color: var(--violet);
        border-radius: 10px;
        border-style: none;
        cursor: pointer;
        padding: 1rem;
        position: absolute;
        top: -2rem;
        right: 15%;
    }

    .search-button:hover {
        filter: brightness(150%);
    }



}