@media (max-width: 750px) {

    .job-title-card {
        background-color: black;
        text-align: center;
        margin-left: 2rem;
        margin-right: 2rem;
        
    }

    .job-title-card h2 {
        margin-top: 0;
    }
}