
@media (max-width: 750px) {

    
    .nav-bar {
        background: url('../../assets/mobile/bg-pattern-header.svg');
        padding: 1rem 1rem 3rem 1rem;
    }

    h1 {
        color: white;
        margin-top: 0;
    }

    .toggle-btn {
        background-color: white;
        border-radius: 30px;
        cursor: pointer;
        width: 60px;
        height: 25px;
        padding: 5px;
    }

    .inner-circle {
        background-color: var(--violet);
        width: 25px;
        height: 25px;
        border-radius: 50%;
    }

}