
@media (max-width: 750px) {

    
    .nav-bar {
        background: url('../../assets/mobile/bg-pattern-header.svg');
        padding: 1rem 1rem 4rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-bar h1 {
        color: white;
        margin-top: 0;
    }

    .toggle-btn {
        background-color: white;
        border-radius: 30px;
        cursor: pointer;
        display: inline-block;
        width: 60px;
        height: 20px;
        padding: 5px;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .inner-circle {
        background-color: var(--violet);
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }

}